.header {
  grid-area: header;
  padding: 15px;
}

.header__title {
  text-align: center;
  color: #f6f6f6;
  font-size: 4em;
}

.header__title-red {
  color: #ea4335;
}

.header__title-blue {
  color: #0d6efd;
}
