.search-form {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.search-form__button {
  padding: 5px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: 4px;
  border: none;
}

.search-form__input {
  padding: 5px;

  border: 2px solid #b9b9bd;
  border-radius: 5px;
  color: #6e6c6c;
  font-weight: 500;
  opacity: 0.8;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.search-form__input:focus {
  opacity: 1;
  outline: transparent;
  border: 2px solid #1a1a1b;
}

.search-form__input::placeholder {
  color: #2c1505;
}
